*{
    margin: 0 auto;
    padding: 0;
}

.dlc {
    background-image: url(../Imagens/dlc.gif);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

.dlc::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(1999deg, rgba(10, 12, 16, 0.99) 1%, rgba(10, 12, 16, 0.7) 40%, rgba(10, 12, 16, 0.99) 98%);
}